<h3 style="color:white; text-align: center;"> Δές την απόσταση σου απο το γήπεδο! </h3>

 <div id="map"></div>
 <div id="directionsPanel" style="float:right;width:30%;height 100%"></div>


<div>
<strong>Mode of Travel: </strong>
<select id="mode" onchange="calcRoute();">
  <option value="DRIVING">Driving</option>
  <option value="WALKING">Walking</option>
  <option value="BICYCLING">Bicycling</option>
  <option value="TRANSIT">Transit</option>
</select>
</div>


<script >

	function initMap(){

		var lati  =  <%= @sta.latitude %> ;
	 	var longi =  <%= @sta.longitude %> ;

	 	var latUser = <%= @user.latitude %>;
	 	var lngUser = <%= @user.longitude %>;

		var address = {lat: lati, lng: longi};
		var userAddress = {lat: latUser, lng: lngUser };

		//====================directions======================//
		var directionsServise = new google.maps.DirectionsService();
		var directionsDisplay = new google.maps.DirectionsRenderer();
		//====================================================//

		//orizo to kentro(Ioannina) kai to zoom tou ghpedou
		var map = new google.maps.Map(document.getElementById('map'), {
		  center: {lat: 39.665028, lng: 20.853746},
		  zoom: 11
		},directionsDisplay.setMap(map));

		//bazw enan marker sto shmeio toy ghpedou
		var stadiumMarker = new google.maps.Marker({
			position: address,
			map: map
		});

		var userMarker = new google.maps.Marker({
			position: userAddress,
			map: map
		});

		var

	}	

	//======upologismos diadromhs======//
	function calcRoute() {

		var selectedMode = document.getElementById('mode').value;
		var request = {
			origin: userAddress,
			destination: address,
			travelMode: google.maps.TravelMode.[selectedMode]
		};

		directionsServise.route(request,function(response,status) {
			if (status == 'OK') {
				directionsDisplay.setDirections(response);
			}
		});
	}


</script> 
