<h3 style="color:white; text-align: center;"> Δές την απόσταση σου απο το γήπεδο! </h3>

 <div id="map"></div>

<%= lati  =  @sta.latitude  %>
<%= longi =  @sta.longitude %>

<script >

	function initMap(){

		var address = {lat: lati, lng: longi};

		//orizo to kentro(Ioannina) kai to zoom tou ghpedou
		var map = new google.maps.Map(document.getElementById('map'), {
		  center: {lat: 39.665028, lng: 20.853746},
		  zoom: 8
		});

		//bazw enan marker sto shmeio toy ghpedou
		var stadiumMarker = new google.maps.Marker({
			position: address,
			map: map
		});
	}	
</script> 
