<h3 style="color:white; text-align: center;"> Δές την απόσταση σου απο το γήπεδο! </h3>

 <div id="map"></div>

 <% stadium = Stadium.find(@game.stadium_id) %>
 <% lati  =  stadium.latitude %>
 <% longi =  stadium.longitude %>

<script >

	var map
	function initMap(){
		map = new google.maps.Map(document.getElementById('map'), {
		  center: {lat: 39.665028, lng: 20.853746},
		  zoom: 8
		});

		var stadiumMarker = new google.maps.Marker({
			position: {lat: lati , lng: longi}
			map: map
		});
	}	

</script> 
