<h3 style="color:white; text-align: center;"> Δές την απόσταση σου απο το γήπεδο! </h3>

 <div id="map" style="width:70%;height 100%"></div>
 <div id="right-panel" style="float:right;width:30%;height 100%"></div>


<div style="float: right;">
<strong style="color:white;">Διάλεξε μέσο: </strong>
<select id="mode">
  <option value="DRIVING">Driving</option>
  <option value="WALKING">Walking</option>
</select>
</div>


<script >

	function initMap(){
		

		var directionsDisplay = new google.maps.DirectionsRenderer;
		var directionsServise = new google.maps.DirectionsService;

		var map = new google.maps.Map(document.getElementById('map'), {
			zoom: 12,
			center: {lat:39.665028, lng: 20.853746 }
		});

		directionsDisplay.setMap(map);
		directionsDisplay.setPanel(document.getElementById('right-panel'));

	
		calcRoute(directionsServise,directionsDisplay);
		document.getElementById('mode').addEventListener('change', function() {
					calcRoute(directionsServise,directionsDisplay);
		});

	}	

	//======upologismos diadromhs======//
	function calcRoute(directionsServise,directionsDisplay) {

		//====metavlites apo to controller====//
		var lati  =  <%= @sta.latitude %> ;
	 	var longi =  <%= @sta.longitude %> ;
	 	var latUser = <%= @user.latitude %>;
	 	var lngUser = <%= @user.longitude %>;
	 	//=====================================//


		var selectedMode = document.getElementById('mode').value;
		directionsServise.route({
			origin: {lat: latUser, lng: lngUser},   //userAddress
			destination:{lat: lati, lng: longi}, //address
			travelMode: google.maps.TravelMode[selectedMode]
		}, function(response, status){
			if (status == 'OK'){
				directionsDisplay.setDirections(response);
			} else {
				window.alert('Directions request failed due to'+ status);
			}
		});

	}

</script> 


    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBZZ_xemsf-NjF4N4PZgdXZZL-AhUK70xE&callback=initMap"
    type="text/javascript">
   </script>



