
<div class = "center jumbotron">
    <div class="container">  

            <h1 class="title"> mpaladoros.gr</h1>
            <h4>
                Την πρώτη εφαρμογή στην Ελλάδα που σε βοηθάει να ανακαλύψεις
                τα αθλήματα που γίνονται κοντά σου, να γνωρίσεις καινούργια άτομα 
                και φυσικα να διασκεδάσεις! 
            </h4>

    </div>

      

            
            <h4>
              Αν είσαι μπαλαδόρος συνδέσου εδω!
            </h4>


           <div class = "fbbutton">
              <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path ,id:"fbb"%>
          </div>
              
          
      


        <div>


            <div
              class="fb-like"
              data-share="true"
              data-width="450"
              data-show-faces="true">
            </div>
            

            <div class="panel-body" >


            <div class = "adminlogin">
              Αν είσαι ιδιοκτήτης συνδέσου <%= link_to "Εδώ" , login_path %> 
            </div>
                  
           
            <br>   
           
        </div>                                              
    </div>
</div>

 
