
<div class = "center jumbotron">
    <div class="container">  
      <h1 class="title"> <%= image_tag "logo.png", style: 'width:50%; height:auto;' %> 
</h1>
        <h2>
          Καλωσήρθες!
        </h2>
 
        <h3 style="color:black;">   Μην χάνεις χρόνο συνδέσου και ξεκίνα το παιχνίδι!</h3>
        <br>
        <h4 style="font-style: bold;"> Αν είσαι μπαλαδόρος συνδέσου εδω! </h4>

        <div class = "fbbutton">
          <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path ,id:"fbb", class: ['btn','btn-primary']%>
        </div><br>
              
        <div class="adminlogin" style="font-style: bold"> Αν είσαι ιδιοκτήτης συνδέσου     <%= link_to "Εδώ" , login_path ,id: "edw" %> 
        </div> <br>                                               
    </div>
</div>

 
