<h1> Ολα τα διαθεσιμα παιχνίδια κοντά σου </h1>

	<p> 
		<%= link_to "Νέο Παιχνίδι" , new_game_path %>
	</p>

<table>

	<tr>
		<th>Ημερομηνία και ώρα </th>
	</tr>

	<% @games.each do |game| %>
		<tr>
			<td> <%= game.starts_at %> </td>
		
			<td> <%= link_to 'Show', game_path(game) %>
			<td> <%= link_to 'Delete', game_path(game), method: :delete, data: {confirm: 'Εισαι σίγουρος?'} %> </td>
		</tr>
	<% end %>

</table>

