<h1> Ολα τα διαθεσιμα παιχνίδια κοντά σου </h1>

	<p> 
		<%= link_to "Νέο Παιχνίδι" , new_game_path %>
	</p>

<table>

	<tr>
		<th>Ημερομηνία και ώρα </th>
		<th>  Γήπεδο </th>
	</tr>

	<% @games.each do |game| %>
		<tr>
			<td> <%= game.starts_at %> </td>
			<td> <%= game.stadium %> </td>
			<td> <%= link_to 'Show', game_path(game) %>
		</tr>
	<% end %>

</table>

