// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body { 
  background-image: url(background.jpg); 
}

.btn-small{
	margin-top: 10px;
  color: white;;
  background-color: green;
}

.adminEdit input{
	width: 70%;
	font-family: sans-serif;
  font-size: medium;
  line-height: 30px;
  display:flex;
  margin:0 auto;
}

.adminEdit input[type="submit"]{
	width: 20%;
}

div.calendar-heading {
  color: white;
  margin: 0 auto;
  a{
    color:white;
  }
}

.list-inline-item {
  margin:15px;
}

ul.acd li {
  font-size: 16.5px
}


input{
  text-align:center;
}