
table, th, td {
   border: 2px solid white;
}

#ghpeda{
  color: red;
  background-color: black;
}

#parent{
  width: 90%;
  
}

#new_game, table, th{
    text-align: center; 
}

p, h3{ color:white; text-align: center;}

h3{
  font-size: 20px;
}

#title{ color:white; text-align: center;}


.gps{
  color: blue;
}

.btn1{
  color: red;
}


#join{
  color: red;
  text-align: center;
  width: auto;
  height: auto;
  margin: 190px;
}


input.radiob{ 
	margin-left: auto;
  margin-right: auto;
  width: 20%;
}

label{
	color:white;
}

#gameslayout{
  border-collapse: collapse;
  border: 1px solid white;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  height: fit-content;
  background-color: black;
  padding: 0;

}

#datetimepicker1{
	margin-left: auto;
  margin-right: auto;
  width: 60%;
}


.text{
  text-align: center;
  color: white;
}

#game_start_time{
  height: 40px;
  width: 200px;
}


#label{
  text-align: right;   
}

#time1{
   height: 40px;
   width: 161px;
}


#inline{
  width:100%;
  height:auto;
  display:flex;
}
.one{
  width:100%;
  margin-top:20px;
  
}


.two{
  width:100%;
  margin-top:20px;
}



#inline1{
  width:100%;
  height:auto;
}

.ena{
  width: 10%;
}

.duo{

  display: inline-block;
}

#float{
  float:right;
}

#float1{
  float:left;
}

#newgame{
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

#creategame{
  height:auto;
  display:flex;
  color: blue;
}

#button{
  float:right;
  color: blue;
}

.btn-small{
  margin-top: 10px;
  color: white;;
  background-color: green;
}


#gametable{
  margin-left: 62px;
  width: 80%;
}


