// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table, th, td {
   border: 3px solid white;
}

p{ color:white; text-align: center;}

h3{ color:white; text-align: center;}


input.radiob{ 
	margin-left: auto;
  margin-right: auto;
  width: 20%;
}

label{
	color:white;
}

#datetimepicker1{
	margin-left: auto;
  margin-right: auto;
  width: 60%;
}



#white{
  color:white; text-align: center;
}




#game_start_time{
  height: 40px;
  width: 200px;
}


#label{
  text-align: right;   
}

#time1{
    
   height: 40px;
   width: 161px;
}


#inline{
  width:100%;
  height:auto;
  
  display:flex;
}
.one,.two{
  width:50%;
  margin:10px;
}

#float{
  float:right;
}

#newgame{
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}






