
@import "bootstrap-sprockets";
@import "bootstrap";  


.body { 
  background-image: url(background.jpg); 
}

h1.title{
	text-align: center;
	color: red;
	font-style: italic;
	font-size: 50px;

}


h2,h4{
	color: black;
	text-align: center;
	font-style: oblique;

	
}

.fbbutton{
	 background-color: blue;
   text-color: white;
   padding: 15px 32px;
   text-align: center;
   font-size: 16px;width: 50%;
   margin: auto;   
}

#fbb{
	color: white;
}

.adminlogin{
	
   text-color: red;
   padding: 15px 32px;
   text-align: center;
   font-size: 16px;width: 50%;
   margin: auto; 
   line-height: 30px;
}

#edw{
	
   text-color: red;
}

.input-group{
	  margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.adminlogin{
	
	  margin: auto;
    font-size: 20px;
    text-color: red;
    
}
.footer{
	color: white;
}
.navbar{
	background-color: green;
	text-color: #fff;
}

#logo{
	color: white;
}




