
@import "bootstrap-sprockets";
@import "bootstrap";  

h1.title{
	text-align: center;
	color: red;
	font-style: italic;
	font-size: 50px;


}


h2,h4{
	color: black;
	text-align: center;
	font-style: oblique;
	
}

#signin{		
	width : 215px;
	color : #fff;
	    align: center;

}

#signup{	
	width : 215px;
	color : #fff;
}

#fblogin{
	width : 500px;
	height: 50px;
	color : #fff;
	text-align: center;
}

#adminlogin{
	
	width : 200px;
	height: 50px;
	color : #fff;
	text-align: center;

	
}


.fb{
	text-align: center;
}

.checkbox{
	color: blue;
	text-align: center;

}
.input-group{
	  margin-left: auto;
    margin-right: auto;
    width: 20%;
}

.adminlogin{
	
	  margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    width: 400px;
    
 
}

.navbar{
	background-color: green;
	text-color: #fff;
}

#logo{
	color: white;
}




