#map {
  width: 800px;
  height: 400px;
  margin: 0 auto;
  float: left;
}


#right-panel {
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}

#right-panel select, #right-panel input {
  font-size: 15px;
}

#right-panel select {
  width: 100%;
}

#right-panel i {
   font-size: 12px;
}
      
#right-panel {
  height: 100%;
  float: right;
  width: 390px;
  overflow: auto;
}

table{
	background-color: white;
}

.adp-summary{
	color: white;
}