// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h3 {
	margin-left: auto;
	margin-right: auto;
	width: 50%;
}

.btn{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
}