ul.nav.nav-tabs li a {
	background-color: green;
}

.nav-tabs>li.active>a {
	color: white;
	border: 1.5px solid #ddd;
	cursor: grab;

}

div.col-sm-10 h1{
	font-size: 34px;
}

.col-sm-9 {
    width: 70%;
}

.col-sm-3 {
    width: 30%;
}

h4,h6 {
	color: aqua;
}

div.col-xs-6{
	text-align: center;
}

.col-xs-6 input{
	width: 100%;
	font-family: sans-serif;
  font-size: medium;
  line-height: 10px;
}

.koumpia input[type="submit"] {
 		width: 20%;
    margin-left: 30%;
}

.col-xs-6{
	  padding-bottom: 10px;

}