ul.nav.nav-tabs li a {
	background-color: green;
}
img.avatar.image-circle.img-thumbnail img-circle{
	border-radius: 9%;
}

.image-thumbnail{
	padding: 2px;
}

.list-group-item text-right{
	  padding: 20px 15px;

}

.nav-tabs>li.active>a {
	color: white;
	border: 1.5px solid #ddd;
	cursor: grab;

}

div.col-sm-10 h1{
	font-size: 34px;
}

.col-sm-9 {
    width: 70%;
}

.col-sm-3 {
    width: 30%;
}

h4,h6 {
	color: aqua;
}